@charset "UTF-8";
/* Custom fonts */
@font-face {
	font-family: BebasNeue;
	src: url(BebasNeue.otf);
}
@font-face {
	font-family: adventpro;
	src: url(adventpro-medium.ttf);
}
@font-face {
  font-family: gravitylight;
  src: url(Gravity-Light.otf);

}

#ourstory  {
  width: 70%;
  text-align: center;
  margin: auto;
  font-family: gravitylight;
  font-size: 1.25em;
	
}
body {
	font-family: source-sans-pro;
	background-color: #59030a;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
.qualitycontrol{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-left: 13%;
	padding-right: 13%;
}
/* Container */
.container {
	width: 90%;
	margin:0 auto;
	overflow:hidden;
	background-color: #FFFFFF;

}
#headercontainer  {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	text-align: left;
}

#headercontainer img {
	float: left;
	padding-left: 2em;
}
header {
	width: 100%;
	background-color: white;
	border-bottom: 1px solid white;
}
#logo {
	margin:auto;
	text-align: left;
	padding-left: 2em;
	

}
nav {
	float: right;
	width: 75%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
	display:inline-block;
}
nav ul li {
	float: left;
	color: maroon;
	font-size: 20px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	font-family: BebasNeue;
	padding-top:30px;
}
ul li a {
	color: maroon;
	text-decoration: none;
}
 ul li:hover a {
    text-shadow: 0px 0px 7px grey;
}

#aboutcontainer  {
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}
.quickfact{
	width:30%;
}
#mccdiff {
	margin:auto;
	text-align: center;
	width: 75%;
	font-family: gravitylight;
	/*font-size: px; */
	padding-top: .4em;
	padding-bottom: .4em;
	font-size: 2em;
}

/* Tablet */
@media (min-width: 320px)and (max-width: 600px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}

.opt{
	display:none;
}
#massmapcontainer{
	display: block;
	float: none;
}
#massmapinfo{
	display: block;
	float: none;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #FFFFFF;
}
header nav ul {
	padding: 0px;
	float: none;
	
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.thumbnail {
	width: 50%;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
#mccdiff {
	margin:auto;
	text-align: center;
	width: 75%;
	font-family: gravitylight;
	/*font-size: px; */
	padding-top: .4em;
	padding-bottom: .4em;
	font-size: 1em;
}
#mccdiff img{
	width:200px;
	height:100px;
	
}

}



@media (min-width: 601px)and (max-width: 900px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.opt{
	display:none;
}
#massmapcontainer{
	display: block;
	float: none;
}
#massmapinfo{
	display: block;
	float: none;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #FFFFFF;
}
header nav ul {
	padding: 0px;
	float: none;
	
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.thumbnail {
	width: 50%;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}



.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: gravitylight;
}